*{
	margin: 0px;
	padding: 0px;
}

body{
background: grey;
font-family: 'Titillium Web', sans-serif;
}

.container{
	width: 95%;
	height: 700px;
}

.block{
	float: left;
	display: flex;
	margin-left: 2%;
	margin-top: 20px;
	width: 45%;
	height: 600px;
	background: white;
}

.h3{
	float: left;
	margin: 20px 0px 20px 20px;
	height: 25px;
	width: 200px
}

.constructor{
float:left;
}


.form {

  top: 60px;
  background: rgba(19, 35, 47, 0.9);
  padding: 20px;
  width: 400px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}


label {
  position: absolute;
  top: 3px;
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

label .req {
  margin: 2px;
  color: #1ab188;
}



input, textarea {
  font-size: 15px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}


.field-wrap {
  position: relative;
  margin-bottom: 30px;
  width: 50%;
}

textarea {
  width: 180%;
}

.button {
  border: 0;
  border-radius: 0;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: #1ab188;
  color: #ffffff;
}

.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}


